@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");

org-chart .node {
   position: relative;
   border: 2px dashed transparent;
   text-align: center;
   justify-content: center;
   width: 325px !important;
   /* height: 250px; */
   font-family: "Jomhuria", sans-serif;
   font-style: normal;
   font-weight: 200;
   font-size: 16px;
   color: #000000;
}

org-chart .node .spacer {
   border: none;
   width: 100%;
   height: 10%;
}

org-chart .node .title {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background: #ef3340;
   border-radius: 15px;
   width: 100%;
   height: 15%;
   font-weight: 400;
   font-size: 32px;
   color: #ffffff;
   z-index: 1;
}

org-chart .node .content {
   position: relative;
   top: -7.5%;
   width: 100%;
   height: 85%;
   border-radius: 0 0 15px 15px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   background: #dddddd;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

org-chart tr.lines .topLine {
   border-top: 2px solid black;
}

org-chart tr.lines .rightLine {
   border-right: 1px solid black;
   float: none;
   border-radius: 0;
}

org-chart tr.lines .leftLine {
   border-left: 1px solid black;
   float: none;
   border-radius: 0;
}

org-chart tr.lines .downLine {
   background-color: black;
   margin: 0 auto;
   height: 20px;
   width: 2px;
   float: none;
}

.team-group-section {
   width: 100%;
   padding: 2%;
}

.team-group-title {
  width: 100%;
}

.team-group-content {
   height: 80%;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 5%;
   overflow: auto;
}

.team-group-record {
   width: 100%;
   border-width: 1%;
   border-style: solid;
   border-radius: 5px;
   background: #ffffff;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.team-group-record-display {

}

.team-group-record-display-data {

}

.team-group-record:hover {
  background-color: yellow;
}

.team-button-section {
   display: flex;
   flex-direction: row;
   padding: 3px;
   gap: 6px;
   justify-content: flex-end;
   margin-right: 5px;
}

.team-button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2px;
   width: 28px;
   height: 10px;
   padding: 2px 4px;
   background: #1a3e72;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 8px;
   color: white;
}

.team-chart-toolbar {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 17px 24px;
   gap: 10px;

   width: 254px;
   background: #ffffff;
   box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
}

.filter-button {
   border-radius: 10px;
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   color: #2F27CE;
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding: 7px 15px;
   position: absolute;
}

.filter-button:hover {
   background: #2F27CE;
   color: #FFF;
}

.filter-popup {
   border-radius: 10px;
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.active-text {
   color: #ffffff;
   font-family: 'Jomhuria', sans-serif;
   height: 6.5px;
   font-size: 8px;
   font-weight: 400;
   text-align: center;
}

.is-active {
   background: #4bc90f;
   cursor: default;
}

.is-inactive {
   background: grey;
   cursor: default;
}
