name: Unit Tests
on: push
jobs:
   unit-tests:
      name: Unit Tests
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4
           with:
              submodules: true
         - run: npm install
         - run: npm test

